<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Storybook</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="prefetch"
      href="./sb-common-assets/nunito-sans-regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="prefetch"
      href="./sb-common-assets/nunito-sans-italic.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="prefetch"
      href="./sb-common-assets/nunito-sans-bold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="prefetch"
      href="./sb-common-assets/nunito-sans-bold-italic.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link rel="stylesheet" href="./sb-common-assets/fonts.css" />

    <%= define.headHtmlSnippet %>

    <style>
      #storybook-root[hidden],
      #storybook-docs[hidden] {
        display: none !important;
      }
    </style>
  </head>
  <body>
    <%= define.bodyHtmlSnippet %>

    <div id="storybook-root"></div>
    <div id="storybook-docs"></div>

    <script>
      const globals = JSON.parse('<%= define.globals %>'.replaceAll('%%BS%%', '\\\\'));
      for (var varName in globals) {
        if (globals[varName] != undefined) {
          window[varName] = globals[varName];
        }
      }
    </script>
    <script type="module">
      import './sb-preview/runtime.js';
    </script>
  </body>
</html>
