node_modules
*.log
.idea

package-lock.json
npm-shrinkwrap.json
yarn.lock
*.lerna_backup
packs/*.tgz

dist
build
coverage/
docs/public

.cache

.tern-port
*.DS_Store
junit.xml
packages/examples/automated-*
/**/LICENSE
