node_modules
*.log
.idea

package-lock.json
npm-shrinkwrap.json
yarn.lock
*.lerna_backup

dist
.tern-port
*.DS_Store
.cache
junit.xml
coverage/
build
packages/examples/automated-*
/**/LICENSE
docs/public
packs/*.tgz
package-lock.json
