node_modules
*.log
.idea
*.iml
*.sw*
dist
*.DS_Store
.cache
junit.xml
test-results
/repros
/sandbox
/bench
.verdaccio-cache
affected-templates.json

# Yarn stuff
/**/.yarn/*
!/**/.yarn/releases
!/**/.yarn/plugins
!/**/.yarn/sdks
!/**/.yarn/versions
/**/.pnp.*
!/node_modules

# test-storybooks
test-storybooks/ember-cli/ember-output
test-storybooks/angular-cli/addon-jest.testresults.json
