node_modules
*.log
.idea
*.iml
*.sw*
!.swcrc
npm-shrinkwrap.json
dist
.tern-port
*.DS_Store
.cache
.parcel-cache
coverage/
*.lerna_backup
build
/**/LICENSE
docs/public
package-lock.json
.nvmrc
storybook-static
.jest-test-results.json
lib/*.jar
/false
/addons/docs/common/config-*
built-storybooks
.verdaccio-cache
tsconfig.tsbuildinfo
junit.xml
.next

/test-results/
/playwright-results/
/playwright-report/
/playwright/.cache/


# Yarn stuff
/**/.yarn/*
!/**/.yarn/releases
!/**/.yarn/plugins
!/**/.yarn/sdks
!/**/.yarn/versions
/**/.pnp.*
