<h1>Storybook Reproduction Templates</h1>

<img alt="Storybook Latest Badge" src="https://img.shields.io/npm/v/@storybook/react/next" />

<p>The repros have been generated with the latest stable version of Storybook.</p>

<% if (typeof data !== 'undefined' && Object.keys(data).length) { %>
  <p>Preview any repro live on [StackBlitz](http://stackblitz.com/):</p>
  <% for (var groupName in data) { %>
    <% if (data[groupName] !== undefined) { %>
      <h3><%- (groupName) %></h3>
      <ul>
      <% for (var exampleName in data[groupName]) { %>
        <% if (data[groupName][exampleName] !== undefined) { %>
          <li>
            <a href="https://stackblitz.com/github/storybookjs/repro-templates-temp/tree/main/<%=groupName['path']%>/after-storybook?preset=node">
              <%=groupName['name']%>
            </a>
          </li>
        <% } %>
      <% } %>
      </ul>
    <% } %>
  <% } %>
  </ul>
<% } %>
