{
  "env": {
    "browser": true,
    "es6": true
  },
  "rules": {
    "no-console": "off",
    "no-use-before-define": "off",
    "no-param-reassign": "off",
    "react/prefer-stateless-function": "off"
  }
}
