<h1><%= name %></h1>

<p>Small introduction</p>

<a href="<%= stackblitzUrl %>">View it in Stackblitz</a>

<h3>Testing instructions</h3>

<p>Install dependencies:</p>
<pre>
  yarn
</pre>

<p>Run Storybook:</p>
<pre>
  yarn storybook
</pre>

