name: Check release tasks
run-name: 'Check tasks for "${{ github.event.pull_request.title }}" PR'

on:
  pull_request:
    types:
      - opened
      - edited
    branches:
      - 'release/**'

jobs:
  task-check:
    runs-on: ubuntu-latest
    steps:
      - uses: chromaui/task-completed-checker-action@main
        with:
          repo-token: '${{ secrets.GITHUB_TOKEN }}'
