name: Test flow

on: [push]

jobs:
  # bootstrap repo with all node_modules installed and packages built
  bootstrap:
    name: Bootstrap core
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: c-hive/gha-yarn-cache@v1
      - name: install
        run: yarn bootstrap --core
      - name: upload root
        uses: actions/upload-artifact@v2
        with:
          name: bootstrapped
          path: ${{ github.workspace }}/**

  # run every example in parallel
  examples:
    name: Build examples matrix
    runs-on: ubuntu-latest
    needs: [bootstrap]
    strategy:
      matrix:
        example: [official-storybook, cra-kitchen-sink]
    steps:
      - name: restore workspace
        uses: actions/download-artifact@v2
        with:
          name: bootstrapped
          path: ${{ github.workspace }}
      - name: test
        run: |
          echo ${{ matrix.example }}
      - name: chromatic # should use upload-only flag
        run: |
          echo ${{ matrix.example }}
      - name: e2e
        run: |
          echo ${{ matrix.example }}