name: Trigger CircleCI workflow

on:
  pull_request:
    types: [opened, synchronize, labeled, unlabeled, reopened, converted_to_draft, ready_for_review]
  push:

jobs:
  trigger-ci-tests:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request' && github.event.pull_request.draft == true && !contains(github.event.pull_request.labels.*.name, 'ci:pr') && !contains(github.event.pull_request.labels.*.name, 'ci:merged') && !contains(github.event.pull_request.labels.*.name, 'ci:daily')
    steps:
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Trigger draft PR tests
        run: >
          curl -X POST --location "https://circleci.com/api/v2/project/gh/storybookjs/storybook/pipeline" \
            -H "Content-Type: application/json" \
            -H "Circle-Token: $CIRCLE_CI_TOKEN" \
            -d '{
                  "branch": "${{ github.event.pull_request.head.ref }}",
                  "parameters": {
                    "workflow": "ci"
                  }
                }'
        env:
          CIRCLE_CI_TOKEN: ${{ secrets.CIRCLE_CI_TOKEN }}
  trigger-pr-tests:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request' && ((github.event.pull_request.draft == false || contains(github.event.pull_request.labels.*.name, 'ci:pr')) && !contains(github.event.pull_request.labels.*.name, 'ci:merged') && !contains(github.event.pull_request.labels.*.name, 'ci:daily'))
    steps:
      - name: Trigger PR tests
        run: >
          curl -X POST --location "https://circleci.com/api/v2/project/gh/storybookjs/storybook/pipeline" \
            -H "Content-Type: application/json" \
            -H "Circle-Token: $CIRCLE_CI_TOKEN" \
            -d '{
                  "branch": "${{ github.event.pull_request.head.ref }}",
                  "parameters": {
                    "workflow": "pr"
                  }
                }'
        env:
          CIRCLE_CI_TOKEN: ${{ secrets.CIRCLE_CI_TOKEN }}
  trigger-merged-tests:
    runs-on: ubuntu-latest
    if: (github.event_name == 'push' && github.ref_name == 'next') || (contains(github.event.pull_request.labels.*.name, 'ci:merged') && !contains(github.event.pull_request.labels.*.name, 'ci:daily'))
    steps:
      - name: Trigger merged tests
        run: >
          curl -X POST --location "https://circleci.com/api/v2/project/gh/storybookjs/storybook/pipeline" \
            -H "Content-Type: application/json" \
            -H "Circle-Token: $CIRCLE_CI_TOKEN" \
            -d '{
                  "branch": "${{ github.event.pull_request.head.ref || github.ref_name }}",
                  "parameters": {
                    "workflow": "merged"
                  }
                }'
        env:
          CIRCLE_CI_TOKEN: ${{ secrets.CIRCLE_CI_TOKEN }}
  trigger-daily-tests:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request' && contains(github.event.pull_request.labels.*.name, 'ci:daily')
    steps:
      - name: Trigger the daily tests
        run: >
          curl -X POST --location "https://circleci.com/api/v2/project/gh/storybookjs/storybook/pipeline" \
            -H "Content-Type: application/json" \
            -H "Circle-Token: $CIRCLE_CI_TOKEN" \
            -d '{
                  "branch": "${{ github.event.pull_request.head.ref }}",
                  "parameters": {
                    "workflow": "daily"
                  }
                }'
        env:
          CIRCLE_CI_TOKEN: ${{ secrets.CIRCLE_CI_TOKEN }}